<%- include('./partials/head') %>

<header>
  <h1>Performance Optimalisatie</h1>
</header>

<main>
  <ul>
  <% for (let i=99; i > 0;  i--) { %>
    <li><%= i %> bottles of beer on the wall, <%= i %> bottles of beer... If one of those bottles would happen to fall</li>
  <% } %>
</main>
</ul>

<script defer src="/main.js"></script>

<%- include('./partials/foot') %>
